.info-content-half {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.infopage-selectors {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.infopage-selectors ion-select {
	--background: var(--ion-color-primary);
	color: var(--ion-color-light);
	font-weight: 700;
}

.infopage-selectors ion-select::part(icon) {
	color: var(--ion-color-light);
}

.infopage-selectors ion-button {
	flex-grow: 1;
}

.episode-button {
	width: 100%;
}

.info-img-container {
	border-radius: 0.5rem;
	overflow: hidden;
}

.info-img {
	border-radius: 0.5rem;
	object-fit: cover;
}

.separator {
	width: 100%;
	height: 0;
	border: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-iframe-container {
	aspect-ratio: 4/3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

.info-iframe {
	width: 100%;
	height: 100%;
}

.active-ep {
	background-color: red;
	color: white;
}

.loading-component {
	aspect-ratio: 4/3;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 7rem;
	height: 7rem;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-radius: 100rem;
	animation: spin 3s infinite linear;
}
