.room-chat {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
}

.room-chat-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column-reverse;
    gap: 0.5rem;
	width: 100%;
	flex-grow: 1;
	overflow: scroll;
	border-radius: 0.5rem;
	scrollbar-width: none;
}

.chat-list-item {
    border-radius: 0.5rem;
}

.input-area {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.input-area > ion-button {
	flex-grow: 1;
	height: 100%;
}

.input-area > ion-input {
	flex-grow: 1;
}

.chat-message {
	display: flex;
	flex-direction: column;
}

.chat-message-name {
	font-size: 0.5rem;
}

.chat-message-text {
	font-size: 0.9rem;
}
